#home{
    height:600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.card{
    background-color: beige;
}
.card-header{
    color: red;
}